@model LojaInfo.Models.Produto
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title SoftTech</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/Imagens/Logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap" rel="stylesheet">

</head>
<body>
    <div class="navbar">
        <h1 id="nome">SoftTech</h1>
      
        <div class="pesquisa">

            <table class="links-setores">
                <thead>
                <th class="link-setor">@Html.ActionLink("Gamer", "ProdutosGamer", "Sistema")</th>
                <th class="link-setor">@Html.ActionLink("Periféricos", "ProdutosPerifericos", "Sistema")</th>
                </thead>
            </table>

        </div>
        <div class="links">
            <span class="login">@Html.ActionLink("Login", "Login","Site", new { htmlAttributes = new { @class = "link" } })<i id="icon-login" class="glyphicon glyphicon-user"></i></span>
        </div>
        <br/>
       

    </div>
    <div class="container body-content">
        @RenderBody()
        <br/>
        
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - SoftTech</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
